<mat-toolbar class="mat-elevation-z5" color="primary" fxLayout="column" fxLayout.gt-sm="row"
    fxLayoutAlign="space-between center">
    <span>
        <span style="margin-right: 10px">
            <mat-icon aria-hidden="false" aria-label="Example home icon">menu_book</mat-icon>
            RECIPE BOOK
        </span>

        <span fxShow="true" fxHide.lt-md="true"><a mat-button routerLink="/recipes" routerLinkActive="activebutton">Recipes</a></span>

        <span fxShow="true" fxHide.lt-md="true"><a mat-button routerLink="/auth" routerLinkActive="activebutton">Login/SignUp</a></span>

        <span fxShow="true" fxHide.lt-md="true"> <a mat-button routerLink="/shopping-list" routerLinkActive="activebutton">Shopping List</a>
        </span>

    </span>

    <span fxShow="true" fxHide.lt-md="true">
        <button mat-button [matMenuTriggerFor]="menu">
            Manage
            <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onSaveData()">Save Data</button>
            <button mat-menu-item (click)="onFetchData()">Fetch Data</button>
        </mat-menu>
    </span>

</mat-toolbar>

<mat-action-list fxShow="true" fxHide.gt-sm="true" fxLayout="column" fxLayoutAlign="center start">
    <button mat-button routerLink="/recipes" routerLinkActive="activebutton"> Recipes </button>
    <button mat-button routerLink="/shopping-list" routerLinkActive="activebutton"> Shopping List </button>
    <button mat-button [matMenuTriggerFor]="menu">
        Manage
        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSaveData()">Save Data</button>
        <button mat-menu-item (click)="onFetchData()">Fetch Data</button>
    </mat-menu>
</mat-action-list>