<div class="container">

  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" *ngIf="recipeForm">

    <mat-form-field appearance="outline">
      <mat-label for="name">Name</mat-label>
      <input type="text" matInput formControlName="name">
      <mat-icon matSuffix>edit</mat-icon>
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="name">Image URL</mat-label>
      <input type="text" matInput formControlName="imagePath">
      <mat-icon matSuffix>edit</mat-icon>
      <mat-error>This field is required</mat-error>
      <img style="width: 100%; padding: 20px" [src]="recipeForm.value.imagePath" alt="">
    </mat-form-field>
    <mat-form-field appearance="outline" class="desription-field">
      <mat-label for="name">Description</mat-label>
      <textarea rows="10" type="text" matInput placeholder="Recipe Description" formControlName="description"></textarea>
      <mat-icon matSuffix>edit</mat-icon>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <div formArrayName="ingredients" fxLayout="column">

      <div *ngFor="let ingredient of getControls(); index as i" [formGroupName]="i" fxLayout="row" fxLayoutGap="20px">
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label for="name">Ingredient Name</mat-label>
          <input type="text" matInput formControlName="name">
          <mat-icon matSuffix>edit</mat-icon>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex="20">
          <mat-label for="name">Amount</mat-label>
          <input matInput type="number"placeholder="0" pattern="^[1-9]+[0-9]*$" formControlName="amount">
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <button mat-icon-button type="button" (click)="removeIngredient(id, i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div style="margin-top: 15px">
      <button mat-raised-button color="primary" type="button" (click)="onAddIngredient()">Add Ingredient</button>
    </div>
    

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button mat-raised-button color="primary" type="submit" [disabled]="!recipeForm.valid">Save</button>
      <button mat-raised-button color="warn" type="button" routerLink="">Cancel</button>
    </div>
  </form>
  
</div>
