<div class="container">
    <form>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field appearance="fill">
          <mat-label for="email">Email</mat-label>
          <input type="email" id="email" matInput>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label for="password">Password</mat-label>
          <input type="password" id="password" matInput>
        </mat-form-field>
  
        <div fxLayout="row" fxLayoutAlign="space-between center" class="btn-grp">
          <div>
            <button mat-raised-button color="primary">Sign Up</button>
          </div>
          <div>
            <button mat-raised-button>Switch To Login</button>
          </div>
        </div>
        
      </div>
      
    </form>
</div>
