<div class="container make-space-above" *ngIf="recipeItem; else info">
    <mat-card class="example-card">
        <img style="width: 350px; height: auto; padding :10px;" mat-card-image src={{recipeItem.imagePath}}
            alt="Photo of a Shiba Inu">

        <mat-card-header>
            <mat-card-title>{{recipeItem.name}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">Manage Recipe</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addToShoppingList(recipeItem.ingredients)">To Shopping List</button>
                <button mat-menu-item (click)="editRecipe()">Edit Recipe</button>
                <button mat-menu-item (click)="deleteRecipe()">Delete Recipe</button>
            </mat-menu>
            <p style="margin-top: 10px">
                {{recipeItem.description}}
            </p>

            <ul style="margin-top: 10px" *ngFor="let ingredient of recipeItem.ingredients">
                <li>{{ingredient.name}} - {{ingredient.amount}}</li>
            </ul>

        </mat-card-content>
    </mat-card>
</div>

<ng-template #info>
    <p style="margin-top: 30px; text-align: center;">Please select a recipe</p>
</ng-template>