<mat-list-item [routerLink]="['recipe/', recipeId]">
    <a mat-line style="text-decoration: none; color: black; cursor: pointer;">
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="60%">
                <h3 mat-line>{{recipeItem.name}}</h3>
                <p mat-line>{{recipeItem.description}}</p>
            </div>
    
            <div fxFlex="40%">
                <img mat-line style="width: 100%; height: auto" src={{recipeItem.imagePath}} alt="">
            </div>
        </div>
    </a>
</mat-list-item>