/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto'; }


.container{
    margin: 0 50px;
}

.make-space-below{
    margin-bottom: 30px;
}
.make-space-above{
    margin-top: 30px;
}